{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
    {#  Contenedor Lista de Publicidades  #}
    <div class="col-md-12">
        <ul class="list-group">
        {% for publicidad in publicidades %}
            <li class="list-group-item">
                <div class="row">   {# Contenedor Publicidad #}
                    <div class="col-md-12">
                        <div class="row">   {# Titulo #}
                            <div class="col-md-12">
                                {{ publicidad.titulo }}
                            </div>
                        </div>
                        <div class="row">   {# Contenido #}
                            <div class="col-md-12">
                                {{ publicidad.texto }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">   {# Foto #}
                    <div class="col-md-12">
                        <a href="{{ publicidad.foto.url }}" class="thumbnail">
                            <img src="{{ publicidad.foto.url }}" class="img-thumbnail" />
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
